@mixin position-bottom-left($position, $bottom: 0, $left: 0)
{
  position: $position;
  bottom: $bottom;
  left: $left;
}

@mixin center
{
  display: flex;
  align-items: center;
  justify-content: center;
}